In [1]:
import pandas as pd
import pickle

In [2]:
df1 = pd.read_csv("mental-and-substance-use-as-share-of-disease.csv")
df2 = pd.read_csv("prevalence-by-mental-and-substance-use-disorder.csv")
data = pd.merge(df2,df1)

In [3]:
data.isnull().sum()

Entity                                                                                               0
Code                                                                                               690
Year                                                                                                 0
Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent)                             0
Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent)                          0
Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)                          0
Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent)                         0
Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent)                        0
Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)                      0
Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)                     0
DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent)      0
dtype: int64

In [4]:
data.drop("Code",axis=1,inplace=True)
data.isnull().sum()

Entity                                                                                             0
Year                                                                                               0
Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent)                           0
Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent)                        0
Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)                        0
Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent)                       0
Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent)                      0
Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)                    0
Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)                   0
DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent)    0
dtype: int64

In [5]:
data = data.set_axis(['Country','Year','Schizophrenia', 'Bipolar_disorder', 'Eating_disorder','Anxiety','Drug_usage','Depression','Alcohol','Mental_fitness'], axis='columns', copy=False)
data

,Country,Year,Schizophrenia,Bipolar_disorder,Eating_disorder,Anxiety,Drug_usage,Depression,Alcohol,Mental_fitness
0,Afghanistan,1990,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036,1.696670
1,Afghanistan,1991,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250,1.734281
2,Afghanistan,1992,0.227328,0.718418,0.121832,4.801434,0.441190,5.106558,0.445501,1.791189
3,Afghanistan,1993,0.226468,0.717452,0.117942,4.789363,0.435581,5.100328,0.445958,1.776779
4,Afghanistan,1994,0.225567,0.717012,0.114547,4.784923,0.431822,5.099424,0.445779,1.712986
...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,2015,0.209359,0.560882,0.099610,3.315701,0.599604,3.548613,1.734969,2.193166
6836,Zimbabwe,2016,0.209979,0.561768,0.100821,3.324230,0.603658,3.557508,1.689281,2.279813
6837,Zimbabwe,2017,0.210631,0.562612,0.101671,3.330569,0.608096,3.564138,1.651805,2.364265
6838,Zimbabwe,2018,0.211237,0.563283,0.102398,3.317500,0.609065,3.563141,1.686711,2.472949
6839,Zimbabwe,2019,0.211969,0.563820,0.102902,3.283934,0.610644,3.554571,1.776729,2.525892

In [6]:
data = pd.DataFrame(data)

In [7]:
pickle.dump(data,open("merged_data.pkl","wb"))